body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.confirmButton {
  transition: all 0.2s;
  height: 40px;
  margin: 0 10px 0 0;
  background-color: #3bc9db !important;
}
.confirmButton:hover {
  background-color: #1098ad !important;
}
.closeButton {
  transition: all 0.2s;
  height: 40px;
  margin: 0px;
  background-color: #e03131 !important;
}
.closeButton:hover {
  background-color: #ad2525 !important;
}
